@using Shop.View_Models
@model CarsListViewModel

<h3>Список автомобилей</h3>
<h4>@Model.curCategory</h4>
<div class="row mt-5 mb-5">
    @{
        foreach(var car in Model.allCars) {
                    <div class="col">
                        <img class="img-fluid rounded" style="width: 350px; height: 200px;" src="@car.img" alt="@car.name"/>
                        <h3>Модель: @car.name</h3>
                        <p>Цена: @car.price.ToString("c")</p>
                        <p>@car.shortDesc</p>
                        <button type="button" class="btn btn-primary">Подробнее</button>
                    </div>
        }
    }
</div>